<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list"
					role="tab" aria-controls="list" aria-selected="false">List</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab"
					aria-controls="form" aria-selected="true">Form</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="list" role="tabpanel"
				aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Expenses</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="userList" class="table table-bordered table-hover
								table-striped">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Date</th>
										<th scope="col">Money</th>
											<th scope="col">Describe</th>

											<th></th>
										</tr>
									</thead>

									
									
									{{#each expenses}}
									<tbody>
										<tr>
											<th scope="row">{{id}}</th> 
											<td>{{createdAt}}</td> 
											<td>{{moneySpent}}</td>
											<td>{{describe}}</td>
											<td>
												<a href="1/form/{{id}}"><i class="fas fa-edit"></i></a> |

												 <a href="1/expenses/{{id}}"><i
														class="fas fa-user-times"></i></a> 
											</td>
										</tr>
									</tbody>
									{{/each}}
									<tbody>
										<tr>
											<th scope="row"></th>
											
											<td><b>Total</b></td>
											<td>{{total}}</td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="form" role="tabpanel"
					aria-labelledby="form-tab">
					<div class="card">
						<div class="card-header">
							<h4>Expense Information</h4>
						</div>
						<div class="card-body">
							<form class="form" th:action="@{/users/{id}(id=${userId})}" method="POST"
								role="form" autocomplete="off">
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Date</label>
									<div class="col-lg-9">
										<div id="datepicker" data-date="12/03/2012"></div>
										<input type="hidden" id="my_hidden_input" >

									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Expense</label>
									<div class="col-lg-9">
										<input class="form-control" name="moneySpent"
										type="number" id="replyNumber" min="0" data-bind="value:replyNumber">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Describe</label>
									<div class="col-lg-9">
										<input class="form-control" type="text" name="describe">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-lg-12 text-center">

										<input type="submit" class="btn btn-primary" value="submit">
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>